@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <div class="container p-3" style="margin-bottom:500px;">
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
        

    </div>
    
</header>