@page
@model TasKrumIo.Pages.BoardList.AddColumnModel




    <div class="container mt-5 justify-content-center text-center">
        <h2 class="main-text text-center">Add A new Column</h2>
        <div class="row mt-5 justify-content-center">
            <form method="post" asp-route-id="@Model.Board.Id">
                <input type="hidden" asp-for="Board.Id" />
                <div class="form-group row mt-5">
                    <div class="col-6">
                        <h4 style=" color:#744cca;font-size:20px ">Column Name</h4>
                    </div>
                    <div class="col-6">
                        <input class="form-control" asp-for="Columns.ColumnName" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-6 offset-4">
                        <input type="submit" value="Create Column" class="btn  form-control" style="background-color:#744cca; color:#fff" />
                    </div>
                </div>

            </form>

        </div>

    </div>

