@page
@model TasKrumIo.Pages.Contact_UsModel
@{
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<div class="text-center" style="padding-bottom:20px;">
    <section class="hero">
        <div class="hero-inner">
            <h1>Conact Us</h1>

        </div>
    </section>
</div>
<h3 class="main-text p-1" style="text-align:center"> Contact Us </h3>
<hr />


<div class="container">
    <div class="row p-5">
        <div class="col-6">
            <h4 class="second-text text-center">Get In Touch!</h4>
            <form action="#" method="post">
                <div class="card border-secondary rounded-0">
                    <div class="card-header p-0">
                        <div class=" text-white text-center py-2" style="background-color:#7C60B7">
                            <h3><i class="fa fa-envelope"></i> Contact US</h3>
                            <p class="m-0">Lorem Ipsum </p>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user" style="color:#7C60B7"></i></div>
                                </div>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Your Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope " style="color:#7C60B7"></i></div>
                                </div>
                                <input type="email" class="form-control" id="nombre" name="email" placeholder="email@gmail.com" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-comment " style="color:#7C60B7"></i></div>
                                </div>
                                <textarea class="form-control" placeholder="Your Message" required></textarea>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Send" class="btn text-white btn-block rounded-0 py-2" style="background-color:#7C60B7">
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-6">
            <h4 class="second-text text-center">Our Address</h4>
            <div id="mapid" style="height: 342px;">
                <script>
                    var mymap = L.map('mapid').setView([38.491774, 27.706417], 13);
                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWJkdWxsYWhvYiIsImEiOiJja2pqdnpleTY1bjlzMnlsZ3Q4cms2c3F4In0.ZpEx65D0Js2seKqJ6wPurA', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'your.mapbox.access.token'
                    }).addTo(mymap);
                    var marker = L.marker([38.491774, 27.706417]).addTo(mymap);
                    marker.bindPopup("<b>Here's Our Location</b><br>Opens 9AM-10AM -Except SAT & SUN.").openPopup();
                    
                </script>
                


            </div>

        </div>

    </div>



</div>

<h3 class="main-text text-center">Are You Intrested In Our Services ?</h3>
<hr />

<div class="row p-5 justify-content-center">
    <div>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-secondary"
           style="background-color:#7C60B7; border:none ; padding:20px; font-size:20px">Register Now...</a>
    </div>
